.pic {
    filter: invert(1%) sepia(5%) saturate(4441%) hue-rotate(244deg) brightness(87%) contrast(83%);
    width: 100%;
    border-radius: 0px 10px 10px 0px;
}
#section1 {
  margin:   7% 12% 7% 12%;
  background-color:hsl(244, 38%, 16%);
  color: white;
  border-radius: 10px;
}
body {
  background-color:  hsl(233, 47%, 7%);
}

.edit {
  text-align: left;
  padding: 4% 5.5% 2% 5%;
}
h2 {
  font-size: 2.2rem;
  color: hsl(0, 0%, 100%);
  font-family: 'Inter',sans-serif;
  font-weight: 700;
}
.lund {
  font-size: 15px;
  margin-top: 8%;
  font-family: 'Lexend Deca',sans-serif;
  color: hsla(0, 0%, 100%, 0.75);
}
.love {
  margin-top: 10%;
  font-family: 'Lexend Deca',sans-serif;
}
h3 {
  color: hsla(0, 0%, 100%, 0.6);
}
span {
  color: hsl(277, 64%, 61%);
}
.nic {
  font-size: 12px;
}
.attribution {
  color: hsla(0, 0%, 100%, 0.75);
  text-align: center;
}
@media only screen and (max-width:1028px) {
  .kim{
    display: flex;
    flex-direction: column-reverse;
  }
  .edit {
    text-align: center;
  }
  .pic {
    border-radius: 10px;
  }
  .lund {
    line-height: 1.5;
  }
}
